body {
	padding: 0;
	margin: 0;
    background: #594331;
}

* {
	box-sizing: border-box;
}

.nav {
	display: flex;
	align-items: center;
}

h3 {
    padding-top: 100px;
    color: rgb(57, 40, 21);
    margin-left: 100px;
	font-size: 23px;
}

.photo {
    margin-top: 130px;
    display: flex;
    margin-right: 150px;
    margin-left: 150px;
    width: 500px;
    height: 500px;
}

/* Large: 992px - 1199px */
@media (max-width: 1199px) {
    .nav {
        display: block;
    }
    h3 {
        padding-top: 610px;
        color: rgb(57, 40, 21);
        margin-left: 10px;
        margin-right: -1px;
        font-size: 38px;
    }
    .photo {
        margin-top: -1170px;
        display: flex;
        margin-right: 200px;
        margin-left: 200px;
        width: 600px;
        height: 600px;
    }
}

/* Medium: 768px - 991px */
@media (max-width: 991px) {
    .nav {
        display: block;
    }
    h3 {
        padding-top: 500px;
        color: rgb(57, 40, 21);
        margin-left: 10px;
        margin-right: -1px;
        font-size: 30px;
    }
    .photo {
        margin-top: -930px;
        display: flex;
        margin-right: 130px;
        margin-left: 150px;
        width: 450px;
        height: 450px;
    }
}

/* Small: 576px - 767px */
@media (max-width: 767px) {
    .nav {
        display: block;
    }
    h3 {
        padding-top: 400px;
        color: rgb(57, 40, 21);
        margin-left: 10px;
        margin-right: -1px;
        font-size: 23px;
    }
    .photo {
        margin-top: -730px;
        display: flex;
        margin-right: 140px;
        margin-left: 100px;
        width: 380px;
        height: 380px;
    }
}

/* Extra small: 0px (320px) - 575px */
@media (max-width: 575px) {
    .nav {
        display: block;
    }
    h3 {
        padding-top: 270px;
        color: rgb(57, 40, 21);
        margin-left: 32px;
        margin-right: -1px;
        font-size: 15px;
    }
    .photo {
        margin-top: -560px;
        display: flex;
        margin-right: 200px;
        margin-left: 33px;
        width: 255px;
        height: 255px;
    }
}