body {
	padding: 0;
	margin: 0;
    background: #594331;
}

* {
	box-sizing: border-box;
}

.nav {
	display: flex;
	align-items: center;
    padding-top: 40px;
}

.a {
	color: rgb(177, 143, 107);
	text-decoration: none;
	margin-left: 160px;
    padding-right: 130px;
	font-size: 50px;
}

.a:hover{
    color: rgb(46, 29, 5);
}

h1 {
    padding-top: 5px;
    color: rgb(46, 29, 5);
	margin-left: 200px;
	font-size: 80px;
}

.photo {
    margin-top: 20px;
    display: flex;
    margin-left: 300px;
    width: 500px;
    height: 500px;
}

/* Large: 992px - 1199px */
@media (max-width: 1199px) {
    .a {
        margin-left: 65px;
        padding-right: 25px;
        font-size: 55px;
    }
    h1 {
        padding-top: 190px;
        margin-left: 30px;
        font-size: 80px;
    }
    .photo {
        margin-top: 190px;
        display: flex;
        margin-left: 70px;
        width: 500px;
        height: 500px;
    }
}

/* Medium: 768px - 991px */
@media (max-width: 991px) {
    .a {
        margin-left: 35px;
        padding-right: 35px;
        font-size: 45px;
    }
    h1 {
        padding-top: 150px;
        margin-left: 30px;
        font-size: 60px;
    }
    .photo {
        margin-top: 150px;
        display: flex;
        margin-left: 40px;
        width: 400px;
        height: 400px;
    }
}

/* Small: 576px - 767px */
@media (max-width: 767px) {
    .a {
        margin-left: 20px;
        padding-right: 20px;
        font-size: 34px;
    }
    h1 {
        padding-top: 360px;
        margin-left: 180px;
        font-size: 55px;
    }
    .photo {
        margin-top: -200px;
        display: flex;
        margin-left: -325px;
        width: 380px;
        height: 380px;
    }
}

/* Extra small: 0px (320px) - 575px */
@media (max-width: 575px) {
    .nav {
        padding-top: 20px;
    }
    .a {
        margin-left: -5px;
        padding-right: 22px;
        font-size: 20px;
    }
    h1 {
        padding-top: 250px;
        margin-left: 80px;
        font-size: 40px;
    }
    .photo {
        margin-top: -140px;
        display: flex;
        margin-left: -220px;
        width: 250px;
        height: 250px;
    }
}